html,
body{
height: 100%;
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
background-color: #f9fbfd;
}

header {
text-align: center;
color: hsl(206, 17%, 28%);
}

.start{
font-size: 48px;

}

.grey-text-text-lighten-3{
font-size: 30px;
padding: 0;
margin: 0;
top: 100px;
height: 0px;
margin-top: 50px;
width: 100px;
}
ul{
  margin-top: 0;
}

.port{

font-size: 48px;

text-align: center;
margin-left: 0;
margin-right: 0;

}

.Insta_icon img{
color: hsl(0, 0%, 100%);
position: absolute;
left: 300px;
top: 700px;

max-width: 300px;
}

.git_icon img{
height: 300px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 700px;
top: 300px;

max-width: 100%;
}


.gmail_icon img{
height: 300px;
width: 400px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 1100px;
top: 300px;

max-width: 100%;
}

.face_icon img{
height: 300px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 300px;
top: 300px;

max-width: 100%;
}

.insta{
opacity: 50%;
height: 200px;
position: absolute;
background-color: lightblue;
}

.facebook{
opacity: 50%;
height: 200px;
position: absolute;
background-color: lightblue;
}

.github{
opacity: 50%;
height: 200px;
position: absolute;
background-color: lightblue;
}

.line1{
background-color: black;
height: 25px;
width: 100%;
top: 225px;
position: absolute;
}

.line2{
height: 25px;
width: 100%;
position: absolute;

}

.socials{
font-size: 36px;
position: absolute;
writing-mode: vertical-rl;
text-orientation: upright;
top: 300px;
}

.aboutme{
font-size: 36px;
position: absolute;
writing-mode: vertical-rl;
text-orientation: upright;
top: 1200px;
}

.gitbtn{
background-color: transparent;
height: 300px;
width: 300px;
color: hsl(0, 0%, 100%);
left: 700px;
top: 300px;
display: flex;
position: absolute;
}

.instabtn{
background-color: transparent;
color: hsl(0, 0%, 100%);
position: absolute;
left: 300px;
top: 700px;
display: flex;
width: 300px;
height: 300px;
}
.facebtn{
background-color: transparent;
height: 300px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 300px;
top: 300px;
display: flex;
width: 300px;
}


.gmailbtn{
background-color: transparent;
height: 300px;
width: 400px;
color: hsl(0, 0%, 100%);
left: 1100px;
top: 300px;
display: flex;
position: absolute;
}

.flex-container{
display: flex;
width: 100%;
flex-wrap: wrap;
margin: 5px;
justify-content: space-evenly;
max-width: 100%;
}

.flex-container div {
flex: 0 0 33.333%;
}