html,
body{
height: 100%;
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
background-color: #f9fbfd;
}

header {
text-align: center;
color: hsl(206, 17%, 28%);
}

.start{
font-size: 48px;
margin: none;
}


.Insta_icon img{

color: hsl(0, 0%, 100%);
position: relative;
left: 300px;
top: 300px;
display: flex;
max-width: max-content;
max-height: max-content;
}

.git_icon img{
height: 300px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 700px;
top: 300px;
display: flex;
max-width: 100%;
}


.gmail_icon img{
height: 300px;
width: 400px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 1100px;
top: 300px;
display: flex;
max-width: 100%;
}

.face_icon img{
height: 300px;
color: hsl(0, 0%, 100%);
position: absolute;
left: 300px;
top: 700px;
display: flex;
max-width: 100%;
}

.insta{
opacity: 50%;
height: 200px;
position: absolute;
background-color: lightblue;
}

.facebook{
opacity: 50%;
height: 200px;
position: absolute;
background-color: lightblue;
}

.github{
opacity: 50%;
height: 200px;
position: absolute;
background-color: lightblue;
}

.line1{
background-color: black;
height: 25px;
width: 100%;
top: 150px;
position: absolute;
}

.line2{
background-color: black;
height: 100%;
width: 25px;
left: 200px;

}

.line3{
background-color: black;
height: 25px;
bottom: 1600px;
}

.line4{
  background-color: black;
height: 25px;
bottom: 1100px;
position: relative;
}

.socials{
  font-size: 36px;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  top: 300px;
}

.aboutme{
  font-size: 36px;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  top: 1200px;
}

.gitbtn{
background-color: transparent;
height: 300px;
width: 300px;
color: hsl(0, 0%, 100%);
left: 700px;
top: 300px;
display: flex;
position: absolute;
}

.instabtn{
background-color: transparent;
height: 300px;
width: 300px;
color: hsl(0, 0%, 100%);
left: 300px;
top: 300px;
display: flex;
position: absolute;
}

.facebtn{
background-color: transparent;
height: 300px;
width: 300px;
color: hsl(0, 0%, 100%);
left: 300px;
top: 700px;
display: flex;
position: absolute;
}

.gmailbtn{
background-color: transparent;
height: 300px;
width: 400px;
color: hsl(0, 0%, 100%);
left: 1100px;
top: 300px;
display: flex;
position: absolute;
}

.flex-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-evenly;
  max-width: 100%;
}

.flex-container div {
  flex: 0 0 33.333%;
}